@import '@fontsource/philosopher';
@import '@fontsource-variable/montserrat';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'Philosopher', serif;
}

p, span {
  font-family: 'Montserrat Variable', sans-serif;
}

.headerContainer {
  height: 100vh;
}

.sectionEstudiante1, .sectionEstudiante2, .sectionEstudiante3 {
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.talento {
  position:absolute;
  top: 20px;
  right: 0;
  background-color: black;
  color: white;
  padding: 15px;
}

.sectionEstudiante1 .estudiante {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sectionEstudiante1 .estudianteInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sectionEstudiante1 .estudianteInfo h2 {
  font-size: 40px;
  border-bottom: 2px black solid;
}

.sectionEstudiante1 .estudianteInfo p {
  line-height: 1.7;
}

.sectionEstudiante1 .iconos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.sectionEstudiante1 .estudianteImg {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionEstudiante1 .estudianteImg img {
  width: 60%;
  height: 80%;
  object-fit: cover;
}

.sectionEstudiante2 .estudiante {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 50px;
}

.sectionEstudiante2 .estudianteInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sectionEstudiante2 .estudianteInfo h2 {
  font-size: 40px;
  border-bottom: 2px black solid;
}

.sectionEstudiante2 .estudianteInfo p {
  line-height: 1.7;
}

.sectionEstudiante2 .iconos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.sectionEstudiante2 .estudianteImg {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionEstudiante2 .estudianteImg img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.sectionEstudiante3 .estudianteImg {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sectionEstudiante3 .estudianteImg h2 {
  font-size: 40px;
  border-bottom: 2px black solid;
}

.sectionEstudiante3 .estudianteImg img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.sectionEstudiante3 .estudiante {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.sectionEstudiante3 .estudianteInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sectionEstudiante3 .estudianteInfo p {
  line-height: 1.7;
}

.sectionEstudiante3 .iconos{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 50px;
}


.sectionEstudiante4 {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.sectionEstudiante4 h2 {
  font-size: 40px;
}

.sectionEstudiante4 .estudiante {
  width: 100%;
  height: auto;
}

.sectionEstudiante4 .estudianteInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.sectionEstudiante4 .estudianteInfo > * {
  width: 33%;
}

.sectionEstudiante4 .estudianteInfo p {
  line-height: 1.7;
}

.sectionEstudiante4 .estudianteImg {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sectionEstudiante4 .estudianteImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionEstudiante4 .iconos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.iconos a:hover {
  transform: scale(1.2);
}